<footer class="footer">
    <div class="footer__container">
        <div class="footer__body">
            <a href="index.html" class="logo footer__logo">
                <img src="@content/svg/logo.svg" alt="pense">
            </a>
            <div class="footer__columns">
                <div data-spollers="479.98, max" class="footer__column column-footer">
                    <button data-spoller class="column-footer__button">Links</button>
                    <ul>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" data-goto=".home" class="column-footer__link">Home</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" data-goto=".about-us" class="column-footer__link">About us</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Careers</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" data-goto=".pricing" class="column-footer__link">Pricing</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" data-goto=".features" class="column-footer__link">Features</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Blog</a>
                        </li>
                    </ul>
                </div>
                <div data-spollers="479.98, max" class="footer__column column-footer">
                    <button data-spoller class="column-footer__button">Legal</button>
                    <ul>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Terms of use</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Terms of conditions</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Privecy policy</a>
                        </li>
                        <li class="column-footer__item">
                            <a href="#" aria-label="link" class="column-footer__link">Cookie policy</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="newsletter footer__newsletter">
                <div class="newsletter__title">Newsletter</div>
                <div class="newsletter__sub-title">Over 25000 people have subscribed</div>
                <form class="newsletter__form form" action="#" method="GET">
                    <input aria-label="your email" data-required="email" type="text" name="form[email]" placeholder="Enter your email" class="form__input">
                    <button aria-label="submit" type="submit" class="form__button button button--small">Subscribe</button>
                </form>
                <div class="newsletter__warning">We don't sell your email and spam</div>
            </div>
        </div>
        <div class="copy">
            <ul class="copy__list">
                <li>
                    <a href="#" aria-label="link" class="copy__link">Privacy & Terms</a>
                </li>
                <li>
                    <a href="#" aria-label="link" class="copy__link">Contact Us</a>
                </li>
            </ul>
            <div class="copy__date">Copyright @ 2022 xpence</div>
            <div style="color:#000;font-family:sans-serif;">Вёрстка <a href="https://nikkeyl.github.io/nikkeyl" style="color:#80f;text-decoration:underline">Никита Алманов</a></div>
            <div class="socials copy__socials">
                <a href="#" aria-label="social icon" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#svg-facebook"></use>
                    </svg>
                </a>
                <a href="#" aria-label="social icon" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#svg-twitter"></use>
                    </svg>
                </a>
                <a href="#" aria-label="social icon" class="socials__icon">
                    <svg>
                        <use href="@content/icons/sprite.svg#svg-linkedin"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>