<header data-lp data-scroll="100" data-scroll-show class="header">
    <div class="header__container">
        <a href="index.html" class="logo">
            <img src="@content/svg/logo.svg" alt="pense">
        </a>
        <div class="menu">
            <nav class="menu__body">
                <ul class="menu__list">
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".features" class="menu__link">Features</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto=".about-us" class="menu__link">About us</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".pricing" class="menu__link">Pricing</a>
                    </li>
                    <li>
                        <a href="#" aria-label="site navigation link" data-goto-header data-goto=".feedback" class="menu__link">Feedback</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="actions">
            <a href="#" class="actions__button button">Request a demo</a>
            <button aria-label="menu icon" type="button" class="actions__icon icon-menu">
                <span></span>
            </button>
        </div>
    </div>
</header>